<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./CSS/prod_details.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <title>Product Card</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="picBackground">
               
                <img src="./img/Screenshot 2023-04-22 095526.png" alt="" class="logo">
                <!-- <a href="#" class="share"><i class="fas fa-share-alt"></i></a> -->

            </div>
            <div class="info">
                <!-- <img src="./img/Screenshot 2023-04-21 204241.png" alt="" class="logo"> -->
                <p>Product Details</p>
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <tr>
                        <td>Quality:</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>2kg</td>
                    </tr>
                    <tr>
                        <td>Exporter License:</td>
                        <td>23rf45690</td>
                    </tr><tr>
                        <td>Harvester:</td>
                        <td>Kelzang Dorji</td>
                    </tr><tr>
                        <td>Packaging</td>
                        <td>10/04/23</td>
                    </tr><tr>
                        <td>Source:</td>
                        <td>Laya</td>
                    </tr>
                    <!-- <h3 class="title"><u>Product  Details</u></h3>
                    <p class="text">Quality:___________________A</p>
                    <p class="text">Quantity:__________________2kg</p>
                    <p class="text">Exporter License:__________2304DE4</p>
                    <p class="text">Harvester:_________________Kezang</p>
                    <p class="date">Packaging date:____________10/04/23</p>
                    <p class="text">Source:____________________Laya</p> -->
                </table>  
                <button>Done</button>              
            </div>
        </div>
    </div>
</body>
</html>