<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./CSS/bootstrap.min.css" />
    <!----css3---->
    <link rel="stylesheet" href="./CSS/custom.css" />
    <link rel="stylesheet" href="./CSS/form.css" />
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--google material icon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="body-overlay"></div>

      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>
            <img src="img/cordy.png" class="img-fluid" /><span>CordyChain</span>
          </h3>
        </div>
        <ul class="list-unstyled components">
          <li class="active">
            <a href="/admin" class="dashboard"
              ><i class="material-icons">dashboard</i><span>Dashboard</span></a
            >
          </li>

          <div class="small-screen navbar-display">
            <li class="d-lg-block d-md-block d-xl-block d-sm-block">
              <a href="#"
                ><i class="material-icons">person</i><span>user</span></a
              >
            </li>
            <!-- <li class="d-lg-block d-md-block d-xl-block d-sm-block">
              <a href="packages.html"
                ><i class="material-icons">inventory</i><span>Packages</span></a
              > -->
            </li>
            <li class="d-lg-block d-md-block d-xl-block d-sm-block">
              <a href="/admin-setting"
                ><i class="material-icons">settings</i><span>setting</span></a
              >
            </li>

            <li class="d-lg-block d-md-block d-xl-block d-sm-block">
              <a
                ><i class="material-icons" onclick="logout()" >logout</i><span>logout</span></a
              >
            </li>
          </div>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
       
        

        <div class="main-content">
         
           

          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card" style="min-height: 485px">
                <div class="card-header card-header-text">
                  <h4 class="card-title">BAFRA Officers</h4>
                </div>
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                      <tr>
                        <th>Name</th>
                        <th>BafraID</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="authBAFRA">
                    
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <form class="form" id="form">
                  <p>Employee Authorization Form</p>
                  <div class="mini-form">
                    <label >Name</label><br />
                    <input id="name1" type="text" />
                  </div>
                  <div class="mini-form">
                    <label >Employee ID</label><br />
                    <input id="bafraId1" type="text" />
                  </div>
                  <button class="btn btn-primary" type="submit">Add</button>
                </form>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.slim.min.js"></script>
   

    <script type="text/javascript">
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
          $("#content").toggleClass("active");
        });

        $(".more-button,.body-overlay").on("click", function () {
          $("#sidebar,.body-overlay").toggleClass("show-nav");
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script>
   const addBafra = async (name1, bafraId1) => {
    try {
        const res = await axios({
            method: 'POST',
            url: 'https://cordychain.onrender.com/api/v1/bafra',
            data: {
                name1,
                bafraId1,
                
                
            },
        })
        
        if (res.data.status === 'success') {
            showAlert('success', 'Bafra Authorized successfully!')
            window.setTimeout(() => {
                location.reload(true)
            }, 1500)
        }
    } catch (err) {
       
    }
}

document.querySelector('.form').addEventListener('submit', (e) => {
    e.preventDefault()
    const name1 = document.getElementById('name1').value
    const bafraId1=document.getElementById('bafraId1').value

  
    addBafra(name1, bafraId1)

    
})
</script>


    <script type="module" src="./js/adminUsers.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script> -->
  <!-- <script type="module" src="./js/dashboard.js"></script>
   -->
   <script>
    const logout = async () => {
    try{
        const res = await axios({
            method: "POST",
            url: "https://cordychain.onrender.com/api/v1/users/logout",

        })
        if (res.data.status === 'success') {
            location.assign('./')
        }
    }catch(err){
        console.log('error', 'Error logging out! try again.')
    }
}
var obj
if (document.cookie) {
    obj = JSON.parse(document.cookie.substring(6))
}else {
    obj = JSON.parse('{}')
}
  </script>
    
    
  </body>
</html>
